# App
NODE_ENV=local # optional

# Backend
VITE_API_URL=http://localhost:3000

# Payphone
VITE_TOKEN=VITE_TOKEN
VITE_STORE_ID=VITE_STORE_ID

# Search / dates
VITE_MIN_DATE=1 # optional
VITE_MAX_DATE=1 # optional

# Admin reports
ADMIN_REPORTS_USER=
ADMIN_REPORTS_PASSWORD=
